.new_collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   
    padding-top: 80px;
    /* background: linear-gradient(180deg,#05161a,#0f969c 60%); */
    background-color: #0f969c ;
    
}
.new_collection h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
  
   
}
.new_collection hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
   
}
.collection{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
  
    
}


